body {
  background: #f1ae89;

  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

ol,
ul {
  padding-left: 30px;
}

.menuBar {
  float: left;
  margin: 0;
  width: 100px;
  height: 100vh;
  background: white;
}

.time-travel-button {
  border: 0px solid;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: 0;
  margin-bottom: 10px;
}

.title {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

  background: white;
  text-align: center;

  padding: 15px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

  background: white;
  text-align: center;

  width: 150px;

  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
}

.square {
  background: #b3d9ff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 134px;
  margin: 5px;
  padding: 0;
  text-align: center;
  width: 134px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.square:hover {
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.game-info {
  margin-left: 20px;
}
