.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    padding: 15px;
    text-align: center;
  }
}

label {
  margin: 15px;
  text-align: center;
  input {
    margin: 15px;
    text-align: center;
  }
}
