body {
  margin: 0;
}

#root {
  background-color: #ebf5f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Indie Flower";
}

.content {
  text-align: center;
  width: 575px;
  max-width: 95%;
  margin: auto;
}

#quote-box {
  background: #f8faf1;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

#text {
  font-size: 2em;
}

#author {
}
